* body {
  /* margin: 0;
  padding: 0; */
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: hsla(251, 52%, 17%, 0.903);
  /* background-color: hsla(59, 78%, 49%, 0.567); */
  color: azure;
}

.contenedor-todo{
  margin: auto;
  overflow: hidden;
  border-radius: .5rem;
  padding: 2rem;
  width: 600px;
  max-width: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 16px
}

.input-texto{
  width: 100%;
  border-radius: .5rem;
  border: none;
  border-style: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.868);
  padding: 5px 15px;
  color: #668c14;
}

ul{
  list-style: none;
  text-align: center;
  font-size: 1.1em;
  line-height: 2;
  max-width: auto;
  margin: auto;
  background-color: #fff;
}

li{
  margin: .4rem;
  background-color: #107b85;
  max-width: auto;
  margin-right: 0;
  border-top-right-radius:0  !important;
  border-bottom-right-radius:0  !important;
  padding-right: 0;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  text-wrap: pretty;

}

.boton-editar{
  cursor: pointer;
  margin-left: 0;
  background-color: #107b85;
  font-size: 2.5rem;
  color: black;
  margin: .4rem  0px  0px;
  padding: .6rem;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.boton-editar:hover{
  background-color: yellowgreen;
}
.boton-eliminar:hover{
  background-color: rgb(255, 0, 0);
}

.boton-eliminar{
  cursor: pointer;
  margin-left: 0;
  background-color: #107b85;
  font-size: 2.5rem;
  color: black !;
  margin: .4rem 0px 0px 0px;
  padding: .6rem;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
  border-style: none;

}

.eliminar-todos{
  transition: 0.5s ease;
  border-style: none;
  color: #a19d2cec;
  
  }
.eliminar-todos:hover{
  filter: drop-shadow(0 0 2em #d80a0aaa);
  background-color: red;
  transition: 0.5s ease;
  border-style: none;
  
  }

h3{
  max-width: 350px;
}


.boton-submit{
  background-color: #668c14 !important;
  border-style: none;
  
}
.boton-submit:hover{
  filter: drop-shadow(0 0 2em #48ff00) !important;
  background-color: rgb(55, 255, 0);
  transition: 0.5s ease;
}

.form-task{
  border: none;
  background-color: #222222;
  padding: 1rem;
}

.form-user{
  border: none;
  background-color: #222222;
  padding: 1rem;  
}